/* ASIDE */
aside{
    width: auto; 
    flex-shrink: 0;
    position: relative;
    background-image: url(/img/sidebar-bg.png);
    background-size: cover;
}

.ms-aside-menu {
    color: #fff;
}

.ms-aside-menu__item {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.1s linear;
}

.ms-aside-menu__item:hover{
    background: rgba(255, 255, 255, 0.5);
}

aside img{
    height: 100%;
}

aside a{
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
}

aside i{
    padding-right: 30px;
}
/* /ASIDE */