/* ASIDE */
aside{
    width: auto; 
    /* da trasformare poi in larghezza auto */
    flex-shrink: 0;
    position: relative;
    background-image: url(/img/sidebar-bg.png);
    background-size: cover;
}

aside img{
    height: 100%;
}

aside a{
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
}

aside i{
    padding-right: 30px;
}
/* /ASIDE */