/* HEADER */
header{
    height: 70px;
    background-color: var(--primary-color);
}

header img {
    max-height: 40px;
}

header i{
    padding: 0 5px;
}

header a:not(:last-child){
    color: #5a5858;
    padding-right: 5px;
}
/* /HEADER */

