/* BACKGROUND COLORS */
.ms-bg-primary {
    background-color: var(--primary-color);
}

.ms-bg-primary-dark {
    background-color: var(--primary-color-dark);
}

.ms-bg-secondary {
    background-color: var(--secondary-color);
}

.ms-bg-secondary-dark {
    background-color: var(--secondary-color-dark);
}

.ms-bg-third{
    background-color: var(--third-color);
}
/* /BACKGROUND COLORS */

/* COLORS */
.ms-color-primary {
    color: var(--primary-color);
}

.ms-color-primary-dark {
    color: var(--primary-color-dark);
}

.ms-color-secondary {
    color: var(--secondary-color);
}

.ms-color-secondary-dark {
    color: var(--secondary-color-dark);
}

.ms-color-accent-color{
    color: var(--accent-color)
}
/* /COLORS */